In [3]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

,Unnamed: 0,User_ID,Gender,Age,Height,Weight,Duration,Heart_Rate,Body_Temp,Calories
0,0,14733363,0,68,190.0,94.0,29.0,105.0,40.8,231.0
1,1,14861698,1,20,166.0,60.0,14.0,94.0,40.3,66.0
2,2,11179863,0,69,179.0,79.0,5.0,88.0,38.7,26.0
3,3,16180408,1,34,179.0,71.0,13.0,100.0,40.5,71.0
4,4,17771927,1,27,154.0,58.0,10.0,81.0,39.8,35.0

In [7]:
df.shape

(15000, 10)

In [8]:
df.isnull().sum()

Unnamed: 0    0
User_ID       0
Gender        0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [9]:
X = df[['Gender','Age','Height','Weight','Duration','Heart_Rate','Body_Temp']]

y = df['Calories']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.2)

In [11]:
model = RandomForestRegressor()

In [12]:
model.fit(X_train,y_train)

RandomForestRegressor()

In [13]:
y_pred = model.predict(X_test)

In [14]:
r2_score(y_test,y_pred)

0.9983774928164844

In [15]:
import pickle

In [16]:
pickle.dump(model,open('model.pkl','wb'))